pip==24.1.2
numpy==1.26.4
scipy>=1.16.1
six>=1.17.0

jupyter>=1.0.0
pandas==2.2.2
matplotlib==3.10
matplotlib_inline==0.1.7
seaborn==0.13.2
torch==2.8.0
torchvision==0.23.0

wandb==0.21.1
pyyaml>=6.0

# package for kaggle download
kagglehub[pandas-datasets]